## Support Vector kernel svm

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
from sklearn.datasets import load_digits

In [14]:
digit= load_digits()

In [19]:
dir(digit)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [24]:
df1= pd.DataFrame(digit.data)

In [25]:
df1

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,8.0,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0

In [26]:
df2= pd.DataFrame(digit.target)

In [27]:
df2

      0
0     0
1     1
2     2
3     3
4     4
...  ..
1792  9
1793  0
1794  8
1795  9
1796  8

[1797 rows x 1 columns]

In [39]:
x= df1
y=digit.target

In [40]:
y

array([0, 1, 2, ..., 8, 9, 8])

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [51]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [52]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [53]:
model.predict(x_test)

array([0, 1, 1, 3, 0, 9, 9, 1, 1, 7, 8, 2, 5, 8, 3, 0, 2, 0, 0, 7, 9, 6,
       3, 5, 9, 8, 3, 5, 2, 6, 7, 8, 7, 6, 7, 8, 3, 4, 8, 7, 6, 8, 4, 5,
       1, 3, 4, 7, 8, 4, 0, 5, 0, 8, 5, 6, 1, 4, 3, 5, 1, 6, 1, 5, 9, 5,
       0, 3, 6, 0, 0, 4, 5, 8, 0, 7, 5, 5, 4, 0, 1, 1, 2, 2, 9, 0, 5, 2,
       8, 5, 2, 8, 4, 5, 0, 3, 8, 4, 7, 3, 5, 9, 7, 4, 8, 6, 6, 8, 7, 5,
       0, 4, 0, 1, 1, 5, 0, 0, 6, 3, 9, 7, 1, 9, 5, 3, 9, 4, 3, 4, 9, 7,
       4, 6, 1, 5, 9, 9, 2, 9, 3, 0, 2, 2, 2, 5, 7, 4, 8, 9, 2, 0, 6, 0,
       9, 6, 2, 1, 1, 1, 5, 2, 3, 3, 3, 3, 8, 9, 5, 3, 6, 0, 7, 9, 0, 6,
       9, 2, 9, 6, 6, 5, 2, 2, 7, 7, 4, 8, 6, 9, 1, 8, 7, 3, 3, 8, 3, 6,
       7, 6, 7, 4, 2, 9, 1, 1, 1, 6, 1, 2, 1, 9, 2, 1, 5, 9, 0, 0, 6, 3,
       3, 7, 4, 0, 4, 0, 4, 1, 5, 3, 7, 5, 7, 7, 6, 2, 6, 6, 1, 1, 0, 9,
       7, 6, 8, 3, 6, 8, 4, 1, 5, 2, 5, 3, 2, 1, 8, 0, 3, 9, 7, 2, 5, 4,
       6, 6, 9, 5, 5, 7, 6, 7, 3, 8, 1, 1, 8, 6, 3, 3, 3, 2, 5, 0, 1, 9,
       0, 9, 7, 0, 4, 8, 2, 0, 6, 5, 6, 2, 7, 3, 2, 6, 7, 9, 7, 0, 9, 3,
       9, 4, 8, 5, 8, 7, 4, 5, 1, 9, 8, 5, 6, 8, 6, 5, 6, 3, 3, 5, 5, 4,
       8, 2, 9, 7, 0, 4, 5, 9, 8, 6, 6, 9, 2, 9, 4, 3, 7, 2, 6, 5, 7, 8,
       3, 0, 6, 9, 8, 9, 4, 0])

In [54]:
model.score(x_test,y_test)

0.9694444444444444